<configuration>

  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
    <encoder class="com.github.loki4j.logback.JsonEncoder" />
    <sender class="com.github.loki4j.logback.JavaHttpSender">
      <url>http://localhost:3100/loki/api/v1/push</url>
    </sender>
    <labels>
      <label name="app">certificado-api</label>
      <label name="env">dev</label>
    </labels>
  </appender>

  <root level="INFO">
    <appender-ref ref="LOKI" />
  </root>

</configuration>
