<configuration>

<appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
  <encoder class="com.github.loki4j.logback.JsonEncoder">
    <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
  </encoder>
  <http>
    <url>http://localhost:3100/loki/api/v1/push</url>
  </http>
  <label name="app" value="certificado-api"/>
  <label name="env" value="dev"/>
</appender>


  <root level="INFO">
    <appender-ref ref="LOKI" />
  </root>

</configuration>
